#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define QWERTY 0
#define GAME 1
#define NAV 2
#define NUM 3
#define SYM 4
#define FUNC 5

&mt {
    tapping-term-ms = <160>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <160>;
    flavor = "tap-preferred";
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hr: homerow_mods_ring_finger {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RING_FINGER";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hp: homerow_mods_pinky_finger {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_PINKY_FINGER";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        tm: thumb_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <160>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        lh: layer_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_HOLD";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <160>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

        // Easy alt-tab with alt+backspace thumb using mod-morphs

        bstab: backspace_tab {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC_TAB";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp TAB>;

            mods = <LALT>;
        };

        lt_bspc: layer_tap_backspace_tab {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_BT";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            bindings = <&mo>, <&bstab>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_caps {
            timeout-ms = <50>;
            key-positions = <14 17>;
            layers = <0>;
            bindings = <&caps_word>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
           &kp Q        &kp W           &kp E       &kp R        &kp T        &kp Y        &kp U        &kp I       &kp O       &kp P
&kp LCTRL  &hp LCTRL A  &hr LEFT_GUI S  &hm LALT D  &hm LSHFT F  &kp G        &kp H        &hm RSHFT J  &hm RALT K  &hr RGUI L  &hp RCTRL SEMI  &kp SQT
&kp LSHFT  &kp Z        &kp X           &kp C       &kp V        &kp B        &kp N        &kp M        &kp COMMA   &kp DOT     &kp FSLH        &kp BSLH
                                        &lt 4 ESC   &lt 1 TAB    &lh 2 SPACE  &lt 3 ENTER  &lh 1 BSPC   &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        nav_layer {
            bindings = <
       &none     &none     &none      &none      &none  &none     &kp PG_DN  &kp PG_UP  &kp LC(LG(LEFT))  &kp LC(LG(RIGHT))
&none  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &kp G  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT         &none              &none
&none  &none     &none     &none      &none      &none  &none     &kp HOME   &kp END    &none             &none              &none
                           &none      &none      &none  &none     &trans     &none
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        number_layer {
            bindings = <
           &kp BSLH   &none  &none      &none   &none  &none  &kp KP_N7  &kp KP_N8  &kp KP_N9  &none
&kp LCTRL  &kp COMMA  &none  &none      &none   &none  &none  &kp KP_N4  &kp KP_N5  &kp KP_N6  &none  &none
&kp DEL    &kp DOT    &none  &none      &none   &none  &none  &kp KP_N1  &kp KP_N2  &kp KP_N3  &none  &none
                             &kp GRAVE  &trans  &none  &none  &kp KP_N0  &none
            >;
        };

        symbol_layer {
            bindings = <
           &kp PIPE  &kp AMPS  &kp STAR   &kp LPAR   &kp RPAR  &none  &none      &none      &none     &none
&kp LCTRL  &kp LT    &kp DLLR  &kp PRCNT  &kp CARET  &kp LBRC  &none  &kp RSHFT  &kp RCTRL  &kp LALT  &kp RGUI  &none
&kp BSPC   &kp GT    &kp EXCL  &kp AT     &kp HASH   &kp RBRC  &none  &none      &none      &none     &none     &none
                               &kp TILDE  &tog 0     &trans    &none  &none      &none
            >;
        };

        function_layer {
            bindings = <
           &kp F12  &kp F7  &kp F8  &kp F9      &kp PSCRN        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&kp LCTRL  &kp F11  &kp F4  &kp F5  &kp F6      &kp PAUSE_BREAK  &none         &kp RSHFT     &kp RCTRL     &kp LALT      &kp RGUI      &bt BT_CLR
&kp ENTER  &kp F10  &kp F1  &kp F2  &kp F3      &kp CAPS         &none         &none         &none         &none         &none         &none
                            &trans  &kp C_NEXT  &kp C_PP         &trans        &none         &none
            >;
        };
    };
};
